input,
label,
select,
button,
textarea
{
	margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;
	
	/* Browsers have different default form fonts */
	font-size:13px;
	font-family:'Nunito Sans', sans-serif;

}

/* Remove the stupid outer glow in Webkit */
input:focus, ​textarea:focus , button:focus
{
	outline:0;
}

/* Box Sizing Reset
-----------------------------------------------*/

/* All of our custom controls should be what we expect them to be */
input,
textarea
{
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}

/* These elements are usually rendered a certain way by the browser */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select
{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

/* Text Inputs
-----------------------------------------------*/

input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=range],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week]
{
}

/* Button Controls
-----------------------------------------------*/

input[type=checkbox],
input[type=radio]
{
	width:13px;
	height:13px;
}

/* File Uploads
-----------------------------------------------*/

input[type=file]
{

}

/* Search Input
-----------------------------------------------*/

/* Make webkit render the search input like a normal text field */
input[type=search]
{
	-webkit-appearance:textfield;
	-webkit-box-sizing:content-box;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration
{
	display:none;
}

/* Buttons
-----------------------------------------------*/

button,
input[type="reset"],
input[type="button"],
input[type="submit"]
{
	/* Fix IE7 display bug */
	overflow:visible;
	width:auto;
}

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button
{	
	padding:0;
	border:0;
	background:none;
}

/* Textarea
-----------------------------------------------*/

textarea 
{
	/* Move the label to the top */
	vertical-align:top;
	
	/* Turn off scroll bars in IE unless needed */
	overflow:auto;
}

/* Selects
-----------------------------------------------*/

select
{

}

select[multiple] 
{
	/* Move the label to the top */
	vertical-align:top;
}

ul{ list-style-type: none; }

 

.App {
  text-align: center;
  background: #393E44;
  min-height: 100vh;
  &.modal-open{
    overflow: hidden;
    height:100vh;
  }
}
h2{
  text-align: left;
  color:#fff;
  font-weight: initial;
  font-size:20px;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.nav-bar{
  height: 73px;
  background: rgba(33,33,33,.7);
  display:flex;
  top:0px;
  justify-content: center;
  position:sticky;
  z-index: 10;
  .nav-container{
    max-width:1200px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    .logo{
      margin-left:14px;
      display:flex;
      align-items: center;
      color:#fff;
      font-size: 20px;
      img{
        margin-right:14px;
      }
    }
  }
}
.deleteModal{
  .close{
    text-align: right;
    font-size: 20px;
  }
}
.delete-ui-button{
  margin-right:14px;
  box-shadow: 3px 3px 7px 0 rgba(0,0,0,0.60);
  border-radius: 4px;
  height:30px;
  width:154px;
  font-size:13px;
  color:#212121;
  cursor: pointer;
  display:flex;
  align-items: center;
  justify-content: center;
  background: #FFBA00;
  box-shadow: 3px 3px 7px 0 rgba(0,0,0,0.30), inset 3px 3px 7px 0 #F7B500;
  .addRuleIcon{
    margin-right:12px;
  }
}

.container{
  width:100%;
  max-width:1040px;
  margin: 0 auto;
  padding-bottom: 20px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
